
/* ///////////// COLOR VARIABLES /////////////*/

:root {
  --color-primary-1: hsl(217, 28%, 15%);
  --color-primary-2: hsl(218, 28%, 13%);
  --color-primary-3: hsl(216, 53%, 9%);
  --color-primary-4: hsl(219, 30%, 18%);
  --color-accent-1: hsl(176, 68%, 64%);
  --color-accent-2: hsl(198, 60%, 50%);
  --color-accent-3: hsl(198, 100%, 40%);
  --color-white-1: #ffffff;
  --color-white-2: #c3b9b9;
}



/* //////////////////// UNIVERSAL RESET////////////////// */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* /////////////////  BASE CONFIGURATION ///////////////////// */

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  max-width: 100vw;
  height: 100%;
  color: var(--color-white-1);
}


/* END OF BASE CONFIGURATION */



/* HEADER SECTION */


header.header {
  font-family: "Raleway", sans-serif;
  background-color: var(--color-primary-1);
  background-image: url(../images/bg-curvy-desktop.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% 30rem;
}



/* NAVIGATION BAR */



nav.nav__bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 4rem 10%;
}

/* ////////////////LOGO////////// */

#logo img {
  height: 2rem;
  width: auto;
  cursor: pointer;
}


/* ///////////////NAV LINKS///////////////// */


ul.nav__links {
  margin-left: auto;
}

ul.nav__links li {
  list-style-type: none;
  display: inline-block;
}

ul.nav__links li:not(:last-child) {
  margin-right: 5rem;
}

ul.nav__links .links a:link,
ul.nav__links .links a:visited {
  text-decoration: none;
  text-transform: capitalize;

  font-size: 1.5rem;

  color: var(--color-white-1);

  transition: all 0.3s ease;
}

ul.nav__links .links a:hover {
  color: var(--color-accent-1);
}

.header__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 4rem;
  margin-top: 3rem;
}

.heading {
  font-family: "Open Sans", sans-serif;
  max-width: 40%;
  text-align: center;
  margin-top: 2.3rem;
  line-height: 1.7;
}

.heading h1 {
  font-size: 2.3rem;
  margin-bottom: 1.5rem;
}

.heading p {
  font-size: 1.5rem;
}

/* //////////////////////PRIMARY BUTTON //////////////////*/

.button__start {
  margin-top: 5rem;
}

.button__start .cta {
  text-decoration: none;
  text-transform: capitalize;
  font-family: "Open Sans", sans-serif;
  font-size: 1.9rem;
  color: var(--color-white-1);
  background-color: var(--color-accent-2);
  padding: 1.3rem 7rem;
  border-radius: 10rem;

  transition: all 0.5s ease;
}

.button__start .cta:hover {
  background-color: var(--color-accent-3);
  color: var(--color-white-1);
}


/* //////////////// ENDING HEADER SECTION/////////////////// */



/*/////////// MAIN FEATURES SECTION/////////////// */



main section.features {
  /* display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center; */

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  background-color: var(--color-primary-2);
  padding: 9rem 9rem 5rem 9rem;
}

.features__box {
  max-width: 80%;
  align-items: center;
  text-align: center;
  line-height: 1.7;
  margin: 0 auto 5rem auto;
}

img.features__images {
  height: 5.4rem;
  width: auto;
}

.features__box h2 {
  font-family: "Raleway", sans-serif;
  font-size: 1.8rem;
  margin-top: 1.2rem;
  margin-bottom: 0.2rem;
}

.features__box p {
  font-family: "Raleway", sans-serif;
  font-size: 1.4rem;
}





/*////////////////// STAY PRODUCTIVE SECTION///////////// */



section.stay__productive {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary-2);
  padding: 5rem;
}

.productive__img img {
  height: auto;
  width: 85%;
}

.stay__productive__heading {
  align-items: center;
  text-align: start;
}

.stay__productive__heading h2 {
  font-size: 2.7rem;
  font-weight: 500;
  display: block;
  line-height: 1.5;
}

.stay__productive__heading h2 span {
  display: block;
  margin-bottom: 0.9rem;
}

.stay__productive__heading p {
  font-size: 1.3rem;
}

.stay__productive__heading p.second__paragraph {
  margin-top: 1.2rem;
  margin-bottom: 1.8rem;
}

a.fylo_how {
  text-decoration: none;
  text-transform: capitalize;
  color: var(--color-accent-3);
  font-size: 1.5rem;
  border-bottom: 0.2rem solid var(--color-accent-3);
  padding-bottom: 0.7rem;
  transition: all 0.3s ease;
}

a.fylo_how:hover {
  color: var(--color-accent-1);
}

a.fylo_how img {
  height: 1.2rem;
  margin-left: 0.7rem;
}

/*////////////// USERS REVIEW  SECTION//////////// */

.users__section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  background-color: var(--color-primary-2);
  padding: 5rem 5rem 15% 5rem;
}

.users__section__container{
    max-width: 80rem;
    height: auto;
    background-color: var(--color-primary-1);
    border-radius: .5rem;
    box-shadow: 1rem 1.5rem 2rem rgba(0, 0, 0, .3);
    padding: 2rem;
    
}

.users__section__container:not(:last-child){
    margin-right: 3rem;
}

.user__info{
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.user__img img{
    border-radius: 50%;
    height: 5rem;
}

.user__profession{
    margin-left: 1rem;
}

.user__review{
    font-size: 1.4rem;
    text-align: start;
}

.user__profession h3{
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

.user__profession p{
    font-size: 1.2rem;
}

/*//////////////////// END OF USER RATING AND REVIEW SECTION///////// */



/*///////////////// STARTING EARLY ACCESS SECTION /////////////////////*/


.early__access__container{
    position: relative;
    z-index: 1000;
}

section.early__access{
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80rem;
    background-color: var(--color-primary-4);
    padding: 3rem;
    border-radius: .5rem;
    box-shadow: 1rem 1.5rem 2rem rgba(0, 0, 0, .5);
}

.early__access h1{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.early__access p{
    text-align: center;
    font-size: 1.5rem;
}

form.early__access_form{
    margin-top: 2rem;
    margin-left: .8rem;
}

#email{
    outline: none;
    border: none;
    border-radius: 10rem;
    width: 59%;
    height: auto;
    padding: 1.2rem;
    transition: all .4s ease;
}

#email:focus{
    width: 62%;
}

#submit{
    margin-left: 3rem;
    padding: 1.4rem 5rem;
    border-radius: 10rem;
    font-size: 1.4rem;
    border: none;
    outline: none;
    background-image: linear-gradient(to right, var(--color-accent-1), var(--color-accent-2));
    cursor: pointer;
    transition: all .3s ease;
}

#submit:hover{
    background-image: linear-gradient(to right, rgba(101, 226, 218, 0.8), rgba(51, 158, 204, 0.8));
}

/*///////////////////////// END OF EARLY ACCESS SECTION /////////////////////////*/



/* ///////////////////////////FOOTER //////////////////////////////////*/

footer{
    background-color: var(--color-primary-3);
    padding-top: 16%;
}

footer .footer__contact{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    height: 3rem;
    width: auto;
    margin-top: -10rem;
    margin-right: 20rem;
}

.footer__contact__links ul li{
    list-style: none;
    margin-bottom: 1.5rem;
}

.footer__contact__links ul li img{
    margin-right: 1rem;
}

.footer__contact__links ul li span{
    font-size: 1.5rem;
}

footer .challenge{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 0 3rem 0;
    background-color: var(--color-primary-3);
}

.challenge p{
    font-size: 1.5rem;
    font-family: 'Railway', sans-serif;
}

.challenge p a{
    text-decoration: none;
    color: var(--color-white-1);
    border-bottom: .2rem solid var(--color-accent-2);
    transition: all .3s ease;
}

.challenge p a:hover{
    color: var(--color-accent-1);
}
